* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'roboto', 'arial';
	background-image: linear-gradient(110deg, #f93d66, #6d47d9);
}

:root {
	--animation-duration: 15s;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 40px 50px;
	flex-wrap: wrap;
}

.menu p {
	font-weight: bold;
	background-color: yellow;
	text-transform: uppercase;
	text-shadow: 2px 2px 8px #ffa468;
	font-size: x-large;
	height: 40px;
	width: 200px;
	line-height: 40px;
	text-align: center;
	border: 3px solid black;
}

@media (max-width: 1024px) {
	.menu {
		display: flex;
		justify-content: space-between;
		margin: 0 0 10px 0;
	}

	.menu p {
		width: 100vw;
		flex-wrap: wrap;
	}
}

@media (min-width: 1025px) and (max-width: 1150px) {
	.menu {
		display: flex;
		justify-content: space-between;
		margin: 40px 25px;
		flex-wrap: wrap;
	}

	.menu p {
		width: 185px;
		flex-wrap: wrap;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "images prices";
	column-gap: 2.5vw;
}


.pizza-images {
	position: relative;
	grid-area: images;
	left: 5%;
	height: 50vh;
	width: 65vw;
	max-width: 1100px;
	max-height: 500px;
	border: 3px solid black;
	overflow: hidden;
}


.pizza-images img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: slider var(--animation-duration) linear infinite;
	opacity: 0;
}

.pizza-images img:nth-child(2) {
	animation-delay: calc(var(--animation-duration)*0.33);
}

.pizza-images img:nth-child(3) {
	animation-delay: calc(var(--animation-duration)*0.66);
}

@keyframes slider {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 1;
	}

	33% {
		opacity: 1;
	}

	38% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.prices {
	grid-area: prices;
	display: inline-block;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "first-price second-price";
}

.prices div {
	border: 2px solid black;
	height: 20vh;
	text-align: center;
	font-size: 45px;
	background-color: yellow;
}

.first-price {
	grid-area: first-price;
	margin: 2.5vh 3vw 5vh 0;
}

.second-price {
	grid-area: second-price;
	margin: 0 3vw 2.5vh 0;
}

.price-price {
	line-height: 10vh;
	margin-top: 3vh;
	margin-bottom: 0vh;
}

.price-text {
	font-size: 20px;
}

